name: Dispatch Workflow

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      cool_input:
        description: 'An input'
        required: true
        default: 'coolevent'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Run a simple command
      run: echo "Repository Dispatch Triggered!"
    
    - name: Run the input
      run: echo ${{ github.event.inputs.cool_input || 'No input provided' }}
